
<section>
	<ul class="sidebar-menu" style="padding-top: 13px;">
		<li class="sidebar-header">BUILDING</li>

		<li>
			<a href="">
				<span>User Management</span>
				<img src="/clientbuilding/image/arrow.png" width="24" height="24" align="right">
			</a>
			<ul class="sidebar-submenu">
				<li ng-click="goto('user');" ng-if="permissions.user">
					<a> <span>User</span> </a>
				</li>
				<li ng-click="goto('permission');">
					<a><span>Permission</span></a>
				</li>
			</ul>
		</li>
		
		<li ng-click="goto('home');">
			<a> <span>Home</span> </a>
		</li>
		<li ng-click="goto('test');">
			<a> <span>Test</span> </a>
		</li>
		<li ng-click="goto('activity');">
			<a> <span>Activity</span> </a>
		</li>
		<li ng-click="goto('affectation');">
			<a> <span>Affectation</span> </a>
		</li>
		<li ng-click="goto('appconfig');">
			<a> <span>Appconfig</span> </a>
		</li>
		<li ng-click="goto('assignment');">
			<a> <span>Assignment</span> </a>
		</li>
		<li ng-click="goto('attachment');">
			<a> <span>Attachment</span> </a>
		</li>
		<li ng-click="goto('baseline');">
			<a> <span>Baseline</span> </a>
		</li>
		<li ng-click="goto('client');">
			<a> <span>Client</span> </a>
		</li>
		<li ng-click="goto('comment');">
			<a> <span>Comment</span> </a>
		</li>
		<li ng-click="goto('dependable');">
			<a> <span>Dependable</span> </a>
		</li>
		<li ng-click="goto('dependency');">
			<a> <span>Dependency</span> </a>
		</li>
		<li ng-click="goto('functionrole');">
			<a> <span>Functionrole</span> </a>
		</li>
		<li ng-click="goto('history');">
			<a> <span>History</span> </a>
		</li>
		<li ng-click="goto('notify');">
			<a> <span>Notify</span> </a>
		</li>
		<li ng-click="goto('permission');">
			<a> <span>Permission</span> </a>
		</li>
		<li ng-click="goto('plannedwork');">
			<a> <span>Plannedwork</span> </a>
		</li>
		<li ng-click="goto('plannedworkbaseline');">
			<a> <span>Plannedworkbaseline</span> </a>
		</li>
		<li ng-click="goto('planningelement');">
			<a> <span>Planningelement</span> </a>
		</li>
		<li ng-click="goto('planningelementbaseline');">
			<a> <span>Planningelementbaseline</span> </a>
		</li>
		<li ng-click="goto('planningmode');">
			<a> <span>Planningmode</span> </a>
		</li>
		<li ng-click="goto('project');">
			<a> <span>Project</span> </a>
		</li>
		<li ng-click="goto('role');">
			<a> <span>Role</span> </a>
		</li>
		<li ng-click="goto('status');">
			<a> <span>Status</span> </a>
		</li>
		<li ng-click="goto('type');">
			<a> <span>Type</span> </a>
		</li>
		<li ng-click="goto('user');">
			<a> <span>User</span> </a>
		</li>
		<li ng-click="goto('userrole');">
			<a> <span>Userrole</span> </a>
		</li>
		<li ng-click="goto('work');">
			<a> <span>Work</span> </a>
		</li>
		<li ng-click="goto('workelement');">
			<a> <span>Workelement</span> </a>
		</li>
		<li ng-click="goto('workflow');">
			<a> <span>Workflow</span> </a>
		</li>
		<li ng-click="goto('workflowstatus');">
			<a> <span>Workflowstatus</span> </a>
		</li>
	</ul>
</section>
