<md-card layout="column" layout-align="center center">
	<md-card-title>
		<md-card-title-text>
            <span class="md-headline">{{title}}</span>
        </md-card-title-text>
	</md-card-title>
	<md-card-content>
		<md-content>{{ message }}</md-content>
	</md-card-content>
	<md-card-actions>
		<md-button class="md-icon-button test-tooltip md-primary md-raised" md-colors="{background: 'default-green'}" ng-click="ok()">
			<md-icon md-font-library="material-icons">done</md-icon>
		</md-button>
		<md-button class="md-icon-button test-tooltip md-primary md-raised" md-colors="{background: 'default-red'}" ng-click="cancel()">
			<md-icon md-font-library="material-icons">clear</md-icon>
		</md-button>
	</md-card-actions>
</md-card>